/* New colors */

.introduction {
  background-color: #e7e5cc;
  border-top: 100px solid #9cc184;
  color: #000000;
}

.mainconcepts {
  background-color: #e7e5cc;
  border-top: 100px solid #669d62;
  color: #000000;
}

.chapterone {
  background-color: #e7e5cc;
  border-top: 100px solid #447243;
  color: #000000;
}

.chaptertwo {
  background-color: #e7e5cc;
  border-top: 100px solid #1f5b25;
  color: #000000;
}

.chapterthree {
  background-color: #e7e5cc;
  border-top: 100px solid #1e3d14;
  color: #000000;
}

.title-slide {
  border-top: 100px solid #9cc184;
}

/* New colors */

/*-- Footnote --*/
.footnote{
  position: absolute;
  bottom: 0.1em;
  padding-right: 4em;
  font-size: 90%
}

.footnotefinal{
  position: absolute;
  bottom: 0.1em;
  padding-right: 4em;
  font-size: 90%;
  color: #fefdfc
}

.example {
  background-color: #8b8970;
  color: #000000;
}


/* Two-column layout */
.left-column {
  width: 55%;
  float: left;
}

.right-column {
  width: 35%;
  float: right;
  font-size: 50%
  padding-left: 1em;
}


.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}


/* code chunk background */
.hljs-github .hljs {
    background: #e7e8e2;
}


/* custom.css */
.left-tight {
  width: 33%;
  float: left;
}
.right-wide {
  width: 65%;
  float: right;
  padding-left: 1%;
}


/* progress bar */
.remark-slide-number {
  position: inherit;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: #7e715e;
}


/* Removes colored bar from top of the slide resulting in a clear slide */
.clear{
  border-top: 0px solid #FAFAFA;
}


/* font size */
.large { font-size: 130% }
.larger { font-size: 200% }
.smaller{ font-size: 85% }
.small { font-size: 70% }
